html
  head
    title= title
    link(href='/css/login.css', rel='stylesheet')
  body
    if firstName
      // logout form
      h3 Hello #{firstName}
      div
      form(name='logout', method='POST', action='/user/logout')
        input(type='submit', value='Logout')
    else
      each msg in message
        div.flash
          = msg
      a(href='/oauth/facebook') Please log in with Facebook
